[submodule "Data"]
	path = Data
	url = https://github.com/DidacticalEnigma/DidacticalEnigma-Data
[submodule "TinyIndex"]
	path = TinyIndex
	url = https://github.com/DidacticalEnigma/TinyIndex
[submodule "DidacticalEnigma.Core"]
	path = DidacticalEnigma.Core
	url = https://github.com/DidacticalEnigma/DidacticalEnigma.Core
