[submodule "Data"]
	path = Data
	url = https://github.com/DidacticalEnigma/DidacticalEnigma-Data
[submodule "TinyIndex"]
	path = TinyIndex
	url = https://github.com/DidacticalEnigma/TinyIndex
[submodule "DidacticalEnigma.Core"]
	path = DidacticalEnigma.Core
	url = https://github.com/DidacticalEnigma/DidacticalEnigma.Core
[submodule "DidacticalEnigma.Misc"]
	path = DidacticalEnigma.Misc
	url = https://github.com/DidacticalEnigma/DidacticalEnigma.Misc
[submodule "DidacticalEnigma.Project"]
	path = DidacticalEnigma.Project
	url = https://github.com/DidacticalEnigma/DidacticalEnigma.Project
[submodule "clipwatch"]
	path = clipwatch
	url = https://github.com/milleniumbug/clipwatch
[submodule "webview_csharp"]
	path = webview_csharp
	url = https://github.com/milleniumbug/webview_csharp
[submodule "DidacticalEnigma.Next"]
	path = DidacticalEnigma.Next
	url = https://github.com/DidacticalEnigma/DidacticalEnigma.Next
