[submodule "Data"]
	path = Data
	url = https://github.com/milleniumbug/DidacticalEnigma-Data
[submodule "TinyIndex"]
	path = TinyIndex
	url = https://github.com/milleniumbug/TinyIndex
[submodule "FuzzySharp"]
	path = FuzzySharp
	url = git@github.com:milleniumbug/FuzzySharp.git
