@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="get" asp-action="./Index">
        <textarea asp-for="UserInput" class="form-control"></textarea>
        <input type="submit" value="Parse input" class="btn btn-primary"/>
    </form>
</div>

<div id="Output">
    @Html.Raw(Model.RenderedHtml)
</div>