<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TanakaCorpusSourceUrl" value="http://ftp.edrdg.org/pub/Nihongo/examples.utf.gz" />
    <add key="JMDictSourceUrl" value="http://ftp.edrdg.org/pub/Nihongo/JMdict_e.gz" />
    <add key="JMNeDictSourceUrl" value="http://ftp.edrdg.org/pub/Nihongo/JMnedict.xml.gz" />
    <add key="KanjiDicSourceUrl" value="http://ftp.edrdg.org/pub/Nihongo/kanjidic2.xml.gz" />
  </appSettings>
</configuration>
