<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncEnumerator" version="2.2.2" targetFramework="net472" />
  <package id="DidacticalEnigma.Core" version="0.9.6.2" targetFramework="net461" />
  <package id="DidacticalEnigma.Updater" version="0.9.6.2" targetFramework="net472" />
  <package id="JDict" version="0.9.6.2" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net461" />
  <package id="LibJpConjSharp" version="0.7.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NMeCabNetStandard" version="0.7.3" targetFramework="net472" />
  <package id="Optional" version="4.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" requireReinstallation="true" />
  <package id="TinyIndex" version="0.4.0" targetFramework="net472" />
  <package id="UnicodeInformation" version="2.3.0.26" targetFramework="net472" />
  <package id="Utility" version="0.9.7" targetFramework="net472" />
</packages>